h2 {
    font-size: 40px;
    text-align: center;

}

.margenes {
    margin: 3em 7em 10em 2em;
    text-align: justify;
    
}
.borders-1 {
    border: 3px solid darkgoldenrod; 
}
.borders-top{
    border-top: 2px dashed darkorchid
}
.borders-top2 {
    border-top: 2px dotted red;
}
.borders-top3 {
    border-top: 2px double green;
}
.borders-top4 {
    border-top: 2px groove blueviolet
}
.espacioborde {
    border: 3px solid darkcyan;
    padding: 2em;
}
.ejemplo_definitivo {
    font-size: 2em;
    text-align: justify;
    border: 3px solid royalblue;
    padding: 1.5em;
    background-color: royalblue;
    color: white;
    margin: 1em;
    font-family: Arial, Helvetica, sans-serif;
}