* {
    margin: 0;
    padding: 0;
}
nav {
    cursor: pointer;
    padding: 0;
}
ul {
    list-style: none;
    position: absolute;
    background: rgb(133, 136, 138);
    width: 100%;
}
a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 0 2.5em;
}
.item {
    line-height: 3em;
    display: inline-block;
    position: relative;
    text-align: right;
}
a:hover {
    background:rgb(31, 31, 31);
    transition: all .3s; 
}
.sub-item {
    text-align: center;
    transition: all 1.5s;
    max-height: 0;
    background: rgb(201, 204, 204);
}
.item:hover .sub-item {
    display: block;
    max-height: 500px;
    border-bottom: 1px solid white;
}
.menu-bar {
    display: block;
    width: 100%;
    position: fixed;
    top: 0;
    background: rgb(39, 185, 185);
}
nav ul li  .menu-nivle12 {
    display: none;
    position: absolute;
    background: rgb(26, 22, 66);
    text-align: left;
}
nav ul li:hover .menu-nivle12{
    display: block;
    width: 120%;
    text-align: left;
}
header nav {
    width: 80%;
    height: calc(100% - 80%);
    position: fixed;
    right: 100%;
    margin: 0;
    overflow: scroll;
}
@media screen and (max-width: 800px ) {
    body {
        padding-top: 80px;
    }