* {
    margin: 0;
    padding: 0;
}
nav {
    background-color:rgba(255, 255, 255, 0.911);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    position: fixed;
    top: 70px;
    overflow: scroll;
    bottom: 40px;
}
ul {
    list-style: none;
    text-align: center;
    font-size: 1.3em;
    display: block;
   
}
li {
    flex-direction: block;
}
a.hover-item {
    padding: 15px;
    text-decoration: none;
    color: rgb(64,64,64);
    display: block;
    border-bottom: 1px solid rgb(64,64,64);    
}
.countent-main {
    margin: 3em;
}
.hamburger-menu {
    font-size: 1.7em;
    position: fixed;
    top: 20px;
    left: 20px;
}
a.hover-item:hover {
    background: rgb(64,64,64);
    cursor: pointer;
    color: white;
}
.conten-page {
    display: grid;
    width: 100%;
    grid-template:"nav-page content-main" auto /
                   400px    auto;
    justify-content: start;            
}
.nav-page {
    grid-area: nav-page;
}
.content-main {
    grid-area: content-main;
}
/* nav.mostrarNav {
    left: 0;
}*/

