* {
    margin: 0;
    padding: 0;
}
nav {    
    background: rgb(130, 50, 150);
    width: 100%;
}
ul {
   list-style: none;
   text-align: right;
}
li {
    display: inline-block;
    position: relative;
}
nav ul li:hover {
     background: rgb(105, 41, 121);
}
nav ul li a {
    display: block;
    color: white;
    font-size: 1.3em;
    text-decoration: none;
    padding: 20px;
}
.children {
   position: absolute;
   display:none ;
   background: rgb(119, 106, 122);
   text-align: left;
}
nav ul li:hover .children {
    display: block;
    width: 100%;
    text-align: left;
}
nav ul li .children li {
    overflow: hidden;
    display: block;
    border-bottom: 1px solid rgb(119, 43, 106);
}
nav ul .children {
    position: relative;
    width: 100%;
}
.menu-bar {
    display: none;
}
nav ul li .children li a {
    display: block;
}
h1 {
    margin: 85px 35px 35px 35px;
    text-align: right;
    color: rgb(65, 63, 63);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p {
    font-size: 1.3em;
    line-height: 1.4em;
    text-align: justify;
}
.main-countent {
   margin: 30px;
}


@media only screen and (max-width: 716px) {
    
    body {
        padding-top: 70px;
    }
    nav {
       position: relative;
        height: calc(110% - 80px);
        width: 50%;
        left: -100%;
        overflow-x: auto;
        overflow-y: hidden;
        
    }

    .menu-bar {
        display: block;
        position: fixed;
        top: 0px;
        background: rgb(112, 112, 112);
        width: 100%;
        

    }
    .bt-menu {
        display: block;
        padding: 20px;
        color: white;
        font-size: 25px;
        font-weight: bold;
        text-decoration: none;
    }
    h1 {
        margin: 30px;
    }
    nav ul {
        text-align: left;
    } 
    nav ul li {
         display: block;
         border-bottom: 1px solid white;

     }
     .menu-bar span {
         font-size: 30px;
         float: right;
         
     }
    }
    nav ul li:hover .children {
        display: none;
        
    }


