h1 {
    font-family: 'Courier New', Courier, monospaces;
}
p { 
    font-size: 20px; font-family: Arial, Helvetica, sans-serif;
}
.Big_font {font-size: 50px;
}
.fuente-normal {font-weight: 400;

}
.fuente-negrita {font-weight: bold;

}


